body{
    background-color: rgb(220, 237, 243);
}
h1{
    color: rgb(43, 41, 41);
}

h2{
    color: rgb(43, 41, 41);
}

text{
    font-family: serif; 
}

img{
    width: 200px;
    border-radius: 15%;
}

.button{
    background-color: beige;
}